<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PhoneApp</title>
</head>
<body>

<div style="width: 100%; text-align: center; float: left">
    <h3>Welcome to My Phone App! </h3>
    <a href="swagger-ui.html" th:text="${swaggerLinkTitle}"></a>
</div>

<div style="width: 100%; text-align: center; float: left">
    <h3>Client info: </h3>
    <div style="width: 100%; text-align: center; float: left">
        <table style="text-align: left; border: 1px dotted gray;">
            <tr>
                <th>key</th>
                <th>value</th>
            </tr>
            <tr th:each="header : ${headers}"> <!--from PageController -> "headers"-->
                <td th:text="${header.key}">key</td>
                <td th:text="${header.value}">val</td>
            </tr>
        </table>
    </div>
</div>

<div style="width: 100%; text-align: center; float: left">

    <h3 id="selenium">Example Inputs for Selenium test: </h3>
    <div style="width: 100%; text-align: center; float: left">

        <form action="/result" method="get">
            <small>Input for selenium test</small>
            <input type="email" name="email" placeholder="type your email">
            <button type="submit">send and back to home page</button>
        </form>

        <p th:text="${email}" id="paragraph"></p>
    </div>
</div>

</body>
</html>

